/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Version Desktop
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (max-width: 1200px) {
    .project-block {
        width: 45rem;
    }
}
@media (max-width: 960px) {
    #accueil video {
        width: 70vw;
    }
    .project-block {
        width: 35rem;
    }
}
@media (max-width: 645px) {
    #formations .formation {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 375px) {
    .project-block {
        width: 80vw;
    }
    #accueil .cv .title {
        font-size: 1.5rem;
    }
    .project-content-more.open {
        width: 100vw;
    }
}