/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
    font-size: 62.5%;
}
.container {
    /* font-size: 1.6rem; */
    font-size: 1.6em;
    line-height: 1.5;
    overflow: hidden;
}
header {
    width: 100%;
    height: 7vh;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bloc:first-child {
    width: 3rem;
    height: 5vh;
    margin-left: 2vw;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
header .bloc:last-child {
    width: 20vw;
    height: 100%;
    margin-right: 2vw;
    /* background-color: rgb(137, 160, 95); */
}
header .bloc:first-child span {
    width: 100%;
    height: 1vh;
    background-color: rgb(22, 22, 22);
    border-radius: 20%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header - Social Media
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header .social-media {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
header .social-media-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .social-media-logo a {
    margin: 0.5rem 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background-size: cover;
}
header .social-media-logo a:first-child {
    background-image: url("../images/social/logo_linkedin.png");
}
header .social-media-logo a:hover:first-child {
    background-image: url("../images/social/logo_linkedinhover.png");
}
header .social-media-logo a:last-child {
    background-image: url("../images/social/logo_github.png");
}
header .social-media-logo a:hover:last-child {
    background-image: url("../images/social/logo_githubhover.png");
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Progress Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.progressBar {
    width: 100%;
    background-color: grey;
}
.myBar {
    width: 0%;
    height: 2vh;
    background-color: rgb(22, 22, 22);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            General
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container {
    width: 100%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    /* overflow: hidden; */
}
h2 {
    /* font-size: 3vh; */
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vh;
}
h3 {
    font-size: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
}
.localisation {
    font-size: 2vh;
    font-size: 1.5rem;
    font-style: italic;
}
.description {
    font-size: 2vh;
    font-size: 1.5rem;
    display: block;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Accueil
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Accueil - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#accueil img {
    /* width: 50vw; */
    border-radius: 50%;
}
#accueil {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#accueil div {
    margin: 2vh 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Projects
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#projects h2 {
    margin-left: 10vw;
}
.project-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: flex-start;
}
.project-block {
    position: relative;
    width: 30%;
    /* height: 25rem; */
    margin: 2vh;
    padding: 2vh;
    background-color: rgba(22, 22, 22, 0.055);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-block img {
    width: 20rem;
    margin: 2vh;
}
.project-hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    background-color: rgba(22, 22, 22, 0.055);
}
.project-block:hover .project-hover {
    animation-name: animation-project-hover;
    animation-duration: 0.5s;
    height: 100%;
}
.project-hover span {
    display: none;
}
.project-hover:hover span {
    display: block;
}
@keyframes animation-project-hover {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Projects - More
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.project-content-more {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(230, 230, 230);
}
.project-content-more.open {
    width: 35rem;
    height: 100%;
    animation-name: animationProjectContentMore;
    animation-duration: 1.5s;
    transform: translateX(0%);
}
/* .project-content-more.off {
    animation-name: animationProjectContentMore;
    animation-duration: 1.5s;
    animation-direction: reverse;
    transform: translateX(0%);
} */
@keyframes animationProjectContentMore {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);

    }
}
.project-block-more {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}
.project-block-more.open {
    display: flex;
}
/* .project-block-more.off {
    display: flex;
} */
.project-content-more .buttonOff {
    position: absolute;
    top: 1vh;
    left: 1vh;
    cursor: pointer;
    font-weight: 900;
    padding: 1vh;
}
.project-block-more img {
    width: 20rem;
    margin: 2vh;
}
.hashtag li {
    display: inline-block;
    margin: 1vw;
    padding: 1vh;
    background-color: rgb(22, 22, 22);
    color: rgb(230, 230, 230);
}
.project-block-more button.seeSite {
    text-align: center;
    margin: 2vh;
    padding: 2vh 10vw;
    background-color: rgba(22, 22, 22, 0.644);
    color: rgb(230, 230, 230);
    cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Projects - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Footer - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(212, 212, 212);
}
footer .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .headerNav a:hover {
    filter: brightness(2.5);
}
footer .headerNav a:hover p {
    display: block;
}
footer .headerNav .logo-background {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    filter: invert(8%) sepia(20%) saturate(22%) hue-rotate(315deg) brightness(99%) contrast(91%);
}
footer .headerNav a:first-child .logo-background {
    background-image: url("../images/icons/icons_me.png");
}
footer .headerNav a:nth-child(2) .logo-background {
    background-image: url("../images/icons/icons_formations.png");
}
footer .headerNav a:nth-child(3) .logo-background {
    background-image: url("../images/icons/icons_experiences.png");
}
footer .headerNav a:nth-child(4) .logo-background {
    background-image: url("../images/icons/icons_projects.png");
}
footer .headerNav a:nth-child(5) .logo-background {
    background-image: url("../images/icons/icons_skills.png");
}
footer .headerNav a:last-child .logo-background {
    background-image: url("../images/icons/icons_contact.png");
}
footer .headerNav a:hover .logo-background {
    display: none;
}
footer .headerNav p {
    display: none;
    font-size: 1rem;
}