/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
    font-size: 62.5%;
}
.container {
    font-size: 1.6em;
    line-height: 1.5;
    overflow: hidden;
}
header {
    width: 100%;
    height: 5rem;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bloc:first-child {
    width: 3rem;
    height: 5vh;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
header .bloc:last-child {
    width: 11rem;
    height: 100%;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bloc:first-child span {
    width: 100%;
    height: 1vh;
    background-color: rgb(22, 22, 22);
    border-radius: 20%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header - Social Media
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header .social-media {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
header .social-media-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .social-media-logo a {
    margin: 0.5rem 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background-size: cover;
}
header .social-media-logo a:first-child {
    background-image: url("../images/social/logo_linkedin.png");
}
header .social-media-logo a:hover:first-child {
    background-image: url("../images/social/logo_linkedinhover.png");
}
header .social-media-logo a:last-child {
    background-image: url("../images/social/logo_github.png");
}
header .social-media-logo a:hover:last-child {
    background-image: url("../images/social/logo_githubhover.png");
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Progress Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.progressBar {
    width: 100%;
    background-color: grey;
}
.myBar {
    width: 0%;
    height: 2vh;
    background-color: rgb(22, 22, 22);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            General
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container {
    width: 100%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2vh;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.infouseful {
    font-size: 2rem;
    font-style: bold italic;
}
.localisation {
    font-size: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}
.description {
    font-size: 2vh;
    font-size: 1.5rem;
    display: block;
    margin: 2rem 0;
}
button {
    text-align: center;
    margin-top: 2vh;
    padding: 1.5vh 5vw;
    border-radius: 100px;
    background-color: rgba(22, 22, 22, 0.644);
    color: rgb(230, 230, 230);
    cursor: pointer;
}
button.seeSite {
    margin-top: 2vh;
    padding: 2vh 5vw;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Accueil
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Accueil - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#accueil img {
    border-radius: 50%;
}
#accueil {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#accueil div {
    margin: 2vh 0;
}
#accueil .cv {
    margin: 5rem;
}
#accueil .cv .title{
    margin: 4vh 0;
    padding: 4rem 5rem;
    background-color: rgba(22, 22, 22, 0.055);
    border-radius: 10px;
    cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Formations
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#formations h2 {
    margin-left: 10vw;
}
#formations .formations-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formation-content-block {
    margin: 2rem 0;
}
#formations .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    margin: 0 2rem;
    padding: 4rem;
    border-radius: 50px;
    background-color: rgba(22, 22, 22, 0.055);
    box-shadow: 7px 7px 2px 1px rgba(16, 16, 17, 0.2);
}
#formations .formation .description {
    width: 100%;
}
#formations li::before {content: "•"; color: rgb(37, 33, 33);
    display: inline-block;
    width: 1em;
}
#formations .formation.seeMore {
    display: none;
}
#formations .formation.seeMore.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formation-content-bloc {
    margin: 100px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Projects
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#projects h2 {
    margin-left: 10vw;
}
#projects ul {
    margin: 0.5rem 0 1rem 0;
}
.project-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
.project-block {
    position: relative;
    width: 30%;
    margin: 2vh;
    padding: 2vh;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 0.055);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-block img {
    width: 20rem;
    margin: 2vh;
}
.project-block li::before {content: "•"; color: rgb(37, 33, 33);
    display: inline-block;
    width: 1em;
}
.project-hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 8rem;
    background-color: rgba(22, 22, 22, 0.055);
    cursor: pointer;
}
.project-block:hover .project-hover {
    animation-name: animation-project-hover;
    animation-duration: 0.5s;
    height: 100%;
}
.project-hover span {
    display: none;
}
.project-hover:hover span {
    display: block;
}
@keyframes animation-project-hover {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Projects - More
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.project-content-more {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(230, 230, 230);
}
.project-content-more.open {
    width: 40rem;
    height: 100%;
    animation-name: animationProjectContentMore;
    animation-duration: 1.5s;
    transform: translateX(0%);
}
/* .project-content-more.off {
    animation-name: animationProjectContentMore;
    animation-duration: 1.5s;
    animation-direction: reverse;
    transform: translateX(0%);
} */
@keyframes animationProjectContentMore {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);

    }
}
.project-block-more {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}
.project-block-more.open {
    display: flex;
}
.project-content-more .buttonOff {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 1rem;
}
.project-block-more img {
    width: 20rem;
    margin: 2vh;
}
.project-block-more .description {
    text-align: left;
}
.project-block-more .description li::before {
    content: "•";
    color: rgb(37, 33, 33);
    display: inline-block;
    width: 1em;
}
.hashtag li {
    display: inline-block;
    margin: 1rem;
    padding: 1vh;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    color: rgb(230, 230, 230);
}
.hashtag li::before {
    content: "#";
    color: rgb(230, 230, 230);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Projects - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Footer - Mise en forme
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: rgb(212, 212, 212);
}
footer .headerNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .headerNav a {
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
footer .headerNav a:hover {
    filter: brightness(2.5);
}
footer .headerNav a:hover p {
    display: block;
}
footer .headerNav .logo-background {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    filter: invert(8%) sepia(20%) saturate(22%) hue-rotate(315deg) brightness(99%) contrast(91%);
}
footer .headerNav a:first-child .logo-background {
    background-image: url("../images/icons/icons_me.png");
}
footer .headerNav a:nth-child(2) .logo-background {
    background-image: url("../images/icons/icons_formations.png");
}
footer .headerNav a:nth-child(3) .logo-background {
    background-image: url("../images/icons/icons_experiences.png");
}
footer .headerNav a:nth-child(4) .logo-background {
    background-image: url("../images/icons/icons_projects.png");
}
footer .headerNav a:nth-child(5) .logo-background {
    background-image: url("../images/icons/icons_skills.png");
}
footer .headerNav a:last-child .logo-background {
    background-image: url("../images/icons/icons_contact.png");
}
footer .headerNav a:hover .logo-background {
    display: none;
}
footer .headerNav p {
    display: none;
    font-size: 1rem;
}